### Import Requirements

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from math import sqrt
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
import sklearn.model_selection as ms
import sklearn.metrics as sklm
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_curve,auc
from sklearn.metrics import r2_score

### Import data

#### import your scraped datasets. Replace the csv data with your csv data. Use the encoding argument if you run into errors importing

In [2]:

train = pd.read_csv("Lagos_house_data.csv",encoding = "ISO-8859-1")

### Inspect data

In [3]:
train.head()

,location,location_s,features,bath,bed,toilet,price,description,page,loc
0,sosanya soluyi gbagada lagos,sosanya soluyi,3 bed 2 bath 3 toilet,2,3,3,850000,3 bedroom Flat / Apartment for rent Sosanya So...,1,gbagada
1,millenuim ups gbagada lagos,millenuim ups,1 bed 1 bath 1 toilet,1,1,1,650000,1 bedroom mini flat Mini flat Flat / Apartment...,1,gbagada
2,alapere gbagada lagos,alapere,2 bed 2 bath 2 toilet,2,2,2,600000,"2bed at Alapere, all rooms ensuit ... ...",1,gbagada
3,medina gbagada lagos,medina,3 bed 3 bath 4 toilet,3,3,4,1500000,3 bedroom Flat / Apartment for rent Medina Gba...,1,gbagada
4,adeola atunrase medina gbagada lagos,adeola atunrase medina,3 bed 3 bath 3 toilet,3,3,3,1500000,3 bedroom House for rent Adeola Atunrase Medin...,1,gbagada

In [7]:
train.shape

(5188, 7)

## Part 1

### Preprocess data

#### check for missing values

In [9]:
train.isnull().sum()

bedrooms         0
bathrooms        0
toilets          0
description      0
location         0
spec_location    0
price            0
dtype: int64

#### Fix missing values (eliminate or input)

### Build baseline model

#### Modelling - Define train and test data

In [43]:
x_train = 
y_train = 
x_test = 
y_test =

#### Train model

In [45]:
model1 = RandomForestRegressor(random_state=XXX, max_depth=XXX,n_estimators= XXX)
model1.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=11,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1400, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

#### Predict on test

In [46]:
pred_test = model1.predict(x_test)

mean_squared_error 215785.1643181219

#### Evaluate model

In [ ]:
score = sqrt(mean_squared_error(y_test,pred_test))
print('mean_squared_error',score)

## Part 2

### Preprocess data- Identify Outliers

#### Perform univariate analysis on Price

In [ ]:
sns.boxplot()

#### Perform multivariate analysis on Price and location

In [3]:
sns.boxplot(train['price'][(train['location']==XXX)&(train['bedrooms']==XXX)])

#### Treat outliers eliminate/ input
#### When treating outliers, it is important to develop a hypothesis which will drive your approach. e.g. Outliers were caused by errors made by agents when typing in the price. This is an example.
#### Check this for more https://www.pluralsight.com/guides/cleaning-up-data-from-outliers

#### Create loop to eliminate or input outliers/ Feel free to address this usig your preferred method

In [ ]:
locations = train['location'].unique()
for location in locations:
    for bed in range(1,6):
        XXXXX

### Create new features

#### When creating features, it is important to develop a hypothesis which will drive your approach. 
#### Your approach should leverage on domain knowledge or logical assumptions
#### For example terrace houses/duplex are typically more expensive than other houses this is a hypothesis that can be tested through exploratory data analysis or plotting histograms. 
#### If the above is true, it means key words from House description can be helpful in creating relevant features.

### Select Features for model

#### Use filter methods or Wrapper methods or Embedded methods to select features
#### https://www.analyticsvidhya.com/blog/2020/10/feature-selection-techniques-in-machine-learning/

In [ ]:
corr= train.corr()
#corr
f, ax = plt.subplots(figsize=(20, 5))
sns.heatmap(corr,cmap='coolwarm',linewidths=2.0, annot=True)

### Build Optimal model

#### Modelling - Define train and test data

In [43]:
x_train = 
y_train = 
x_test = 
y_test =

#### train model

In [45]:
model1 = RandomForestRegressor(random_state=XXX, max_depth=XXX,n_estimators= XXX)
model1.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=11,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1400, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

#### Predict on test

In [ ]:
pred_test = model1.predict(x_test)

#### Evaluate model

In [46]:
score = sqrt(mean_squared_error(y_cv,pred_cv))
print('mean_squared_error',score)

mean_squared_error 215785.1643181219

#### Keep iterating part 2 until your model has minimal RMSE of 100k-200k